<div class="container mt-5 w-lg-50 w-100">
  <h3 class="text-center">Welcome! Sign In</h3>
  <p class="text-center">Find the skill you need!</p>

  <%= form_for(User.new, scope: :user, url: user_session_path, method: :post, html: { class: "form-horizontal" }) do |form| %>
    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="mb-3">
      <%= form.label :password, class: "form-label" %>
      <%= form.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>
    <div class="mb-3 text-center">
      <p><small>New around here!? <%= link_to "Sign up, pal!", new_user_registration_path %></small></p>
    </div>

    <%= form.submit "Sign In", class: "btn btn-slateblue w-100" %>
  <% end %>
</div>
